<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dropdown</title>
</head>
<body>
<form action="/dropdown" method="post">
<select name="country" >
    <option value="">select</option>
    <option value="india">india</option>
    <option value="brazil">brazil</option>
    <option value="germany">germany</option>
</select>

<input type="submit" id="t1" name="t2" value="click me">
    <input type="text" id="t3" name="t4" value="{{ m }}">

</form>
</body>
</html>