<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<table>
    <tr>  <td>{{ m1 }}</td></tr>
    <tr>  <td>{{ m2 }}</td></tr>
    <tr>  <td>{{ m3 }}</td></tr>
    <tr>  <td>{{ m4 }}</td></tr>
    <tr>  <td>{{ m5 }}</td></tr>
    <tr>  <td>{{ m6 }}</td></tr>
    <tr>  <td>{{ m7 }}</td></tr>
    <tr>  <td>{{ m8 }}</td></tr>
    <tr>  <td>{{ m9 }}</td></tr>
    <tr>  <td>{{ m10 }}</td></tr>
    <tr>  <td>{{ m11 }}</td></tr>
    <tr>  <td>{{ m12 }}</td></tr>
    <tr>  <td>{{ m13 }}</td></tr>
</table>
</body>
</html>