<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form action="/registration" method="post">
<tr>
<tr>
<td><b>Name</b></td>
<td><input type="text" name="uname" id="uname"/></td>
</tr>
<tr>
<td><b>Address</b></td>
<td><textarea name="adr" id="adr"></textarea></td>
</tr>
<tr>
<td><b>Age</b></td>
<td><input type="date" name="age" id="age"/></td>
</tr>
<tr>
<td><b>Gender</b></td>
<td><input type="radio" name="gen" id="gen" value="male"/>male
<input type="radio" name="gen" id="gen" value="female"/>female</td>
</tr>
<tr>

<tr>
<td><b>Mobile</b></td>
<td><input type="text" name="num" id="num"/></td>
</tr>
<tr>
<td><b>Email</b></td>
<td><input type="email" name="email" id="email"></td>
</tr>
<tr>
<td><b>District</b></td>
<td><select name="dist" id="dis">
<option value="select">Select</option>
<option value="kas">Kasargod</option>
<option value="kan">Kannur</option>
<option value="way">Wayanad</option>
<option value="cali">Kozhikode</option>
<option value="mal">Malappuram</option>
<option value="pal">palakkad</option>
</select></td>
</tr>
<tr>
<td><b>Qualification</b></td>
<td><select name="qual" id="qual">
<option value="select">Select</option>
<option value="bca">BCA</option>
<option value="bba">BBA</option>
<option value="bcom">Bcom</option>
<option value="btech">Btech</option>
<option value="mca">MCA</option>
<option value="mba">MBA</option>
</select></td>
</tr>
<tr>
<td><b>Languages</b></td>
<td><input type="checkbox" name="python" id="jav" value="java"/>java
<input type="checkbox" name="python" id="html" value="html"/>html
<input type="checkbox" name="python" id="php" value="php"/>php
    <input type="checkbox" name="python" id="c" value="python"/>python</td>
</tr>

    <tr>
    <p class="email"><b>email</b>
<input type="text" name="email" id="email"/></p>
<br></tr>
<p class="password"><b>PASSWORD</b>
<input type="text" name="pass" id="pass"/></p>
    <br></tr>
    <tr>
    <p class=""><b></b>
<input type="text" name="email" id="email"/></p>
<br></tr>
    <tr><td><input type="submit" name="sub" value="Register" ></td></tr>


</table>
    </form>
</body>
</html>







</form>
</body>
</html